# Force GitHub Linguist to detect project as TypeScript
*.ts linguist-detectable=true
*.tsx linguist-detectable=true
package-lock.json linguist-generated=true
*.json linguist-generated=true
next-env.d.ts linguist-generated=true